NODE_ENV=development
PORT=3000

# Database (Application)
DATABASE_HOST=postgres
DATABASE_PORT=5432
DATABASE_USER=postgres
DATABASE_PASSWORD=postgres
DATABASE_NAME=app_api_authentication

# JWT
JWT_SECRET=
JWT_REFRESH_SECRET=
JWT_EXPIRATION=15m
JWT_REFRESH_EXPIRATION=7d

# Rate Limiting
THROTTLE_TTL=60
THROTTLE_LIMIT=100